aiogram==3.7.0
python-dotenv==1.0.1
cryptography==42.0.8
loguru==0.7.2
playwright>=1.44.0
pandas==2.2.2
matplotlib==3.9.0
dropbox==11.36.2
google-api-python-client==2.131.0
google-auth==2.29.0
pyyaml==6.0.1
